<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>com.Filter.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Order</servlet-name>
		<servlet-class>com.Filter.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/ProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Order</servlet-name>
		<url-pattern>/OrderServlet</url-pattern>
	</servlet-mapping>
	
	<filter>
	<filter-name>Filter</filter-name>
	<filter-class>com.Filter.MyFilter</filter-class>
	</filter>
	
	<filter-mapping>
	<filter-name>Filter</filter-name>
	<url-pattern>/ProfileServlet</url-pattern>
	<url-pattern>/OrderServlet</url-pattern>
	</filter-mapping>
</web-app>